@let categoryVM = categories();
<section class="px-8 max-w-screen overflow-hidden relative">
  <div class="flex justify-between my-2 px-4">
    <p class="text-2xl font-bold">{{ sectionTitle() }}</p>
    <a class="text-text-tertiary font-medium text-sm" routerLink="/catalog"> {{ 'main.categories.viewAll' | translate }}</a>
  </div>
  <div
    class="flex gap-2 overflow-x-auto flex-nowrap px-4 pb-3 scrollbar-none snap-x snap-mandatory"
  >
    @if (categoryVM.length > 0) {
      @for (category of categoryVM; track category.name) {
        <div class="h-10 p-4 font-extrabold text-color-primary flex-shrink-0 snap-start">
          {{ ('categories.' + category.slug) | translate }}
        </div>
      }
    }
  </div>
</section>
