<div class="flex justify-between gap-6 w-full">
  <div class="flex gap-2 items-center">
    <mat-icon></mat-icon>
    <div>
      <p class="title"> {{ 'main.subscribe.title' | translate }}</p>
      <p class="subtitle">{{ 'main.subscribe.subtitle' | translate }}</p>
    </div>
  </div>
  <form class="flex gap-2 items-center">
    <mat-form-field>
      <mat-label>{{ 'main.subscribe.emailLabel' | translate }}</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        placeholder="main.subscribe.emailPlaceholder' | translate"
      />
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>{{ 'main.subscribe.validation.invalid' | translate }}</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error> {{ 'main.subscribe.validation.required' | translate }} </mat-error>
      }
    </mat-form-field>
    <button [appLoadingButton]="submitting()" matButton="filled" (click)="handleSubscribe()">
      {{ 'main.subscribe.submit' | translate }}
    </button>
  </form>
</div>
