<div class="flex justify-between gap-6 w-full">
  <div class="flex gap-2 items-center">
    <mat-icon></mat-icon>
    <div>
      <p class="title">Подпишитесь на новости и получайте скидки</p>
      <p class="subtitle">Будьте в курсе новинок и эксклюзивных предложений</p>
    </div>
  </div>
  <form class="flex gap-2 items-center">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        placeholder="Ex. pat@example.com"
      />
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <button [appLoadingButton]="submitting()" matButton="filled" (click)="handleSubscribe()">
      Подписаться
    </button>
  </form>
</div>
