<div class="grid grid-cols-4 gap-4">
  <app-catalog-filters [currentFilters]="filters()" (filtersChange)="updateFilters($event)">
  </app-catalog-filters>

  <div class="grid col-start-2 col-end-5 justify-center">
    <div class="grid grid-cols-2 gap-4">
      @if (products(); as productsArr) {
        @if (productsArr.products && productsArr.products.length > 0) {
          @for (product of productsArr.products; track product.id) {
            <app-product-card [product]="product"></app-product-card>
          }
        } @else {
          <p>Sorry! We couldn't find anything</p>
        }
      } @else {
        <div class="flex justify-center col-span-2 py-8">
          <mat-spinner diameter="48" strokeWidth="2"></mat-spinner>
        </div>
      }
    </div>
  </div>
</div>
