<div class="grid grid-cols-4 gap-4">
  <app-catalog-filters [currentFilters]="filters()" (filtersChange)="updateFilters($event)">
  </app-catalog-filters>
  <div class="grid col-start-2 col-end-5 justify-center">
    <div class="grid grid-cols-4 gap-4">
      @if (products(); as response) {
        @for (product of response.products; track product.id) {
          <app-product-card
            [title]="product.title"
            [price]="product.price"
            [rating]="product.rating"
            [imgSrc]="product.thumbnail"
          ></app-product-card>
        }
      } @else {
        <p>Sorry! We couldn't find anything</p>
      }
    </div>
  </div>
</div>
